<h2 class="page-header"><%= serie.title %> </h2>
<img width="150" height="200" src="<%= serie.coverImagePath %>" alt="">
<div>Author : <%= serie.author.name %> </div>
<div>Release Date : <%= serie.releaseDate.toDateString() %> </div>
<div>Runtime : <%= serie.runtime %> </div>
<div>Description : <%= serie.description %> </div>

<a href="/series/<%= serie.id %>/edit ">Edit</a>                 
<%- include('../partials/deleteForm',
{ url: `/series/${serie.id}` }) %>

<a href="/authors/<%= serie.author.id %> ">View Author</a>