    <div>
    <label>Title</label>
    <input type="text" name="title" value="<%= movie.title %>">
    </div>
    <div>
    <label>Gender</label>
    <input type="text" name="gender" value="<%= movie.gender %>">
    </div>
    <div>
        <label>Release Date</label>
        <input type="date" name="releaseDate" 
        value="<%= movie.releaseDate == null ? '' : movie.releaseDate.toISOString().split('T')[0] %>">
    </div>
    <div>
        <label>Runtime</label>
        <input type="number" name="runtime" min="15" value="<%= movie.runtime %>">
    </div>
    <div>
        <label>Description</label>
        <textarea name="description"><%= movie.description %></textarea>
    </div>
    <div>
        <label>Author</label>
        <select name="author">
            <% authors.forEach(author => { %>
                <% if (author.id === movie.author) { %>
                <option selected label="<%= author.name %>" value="<%= author.id %>">
                <% } else { %>
                <option label="<%= author.name %>" value="<%= author.id %>">
                <% } %>
            <% }) %>
        </select>
    </div>
    <div>
        <label>Cover</label>
        <input type="file" name="cover" class="filepond">
    </div>