<h2><%= author.name %> </h2>
<a href="/authors/<%= author.id %>/edit ">Edit</a>
<%- include('../partials/deleteForm',
{ url: `/authors/${author.id}` }) %>
<% if (seriesByAuthor.length > 0) { %>
    <h2>Series by Author</h2> 
    <% seriesByAuthor.forEach(serie => { %>
        <a href="/series/<%= serie.id %> ">
        <img height="200" width="150" src="<%= serie.coverImagePath %>">
        </a>
    <% }) %>   

<% } %> 
<% if (moviesByAuthor.length > 0) { %>
    <h2>Movies by Author</h2> 
    <% moviesByAuthor.forEach(movie => { %>
        <a href="/movies/<%= movie.id %> ">
        <img height="200" width="150" src="<%= movie.coverImagePath %>">
        </a>
    <% }) %>   
     
<% } %> 